.header {
    background-color: rgb(1, 13, 25);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;        
    flex-direction: row;
    margin: 0;           
    box-sizing: border-box; 
}

.logo {
    margin-right: 2rem;
}

.text {
    display: flex;
    align-items: center;
    flex-direction: column;
    color:  #FDF3E6;
    margin: 0;  
}